* {
	margin: 10px;
	padding: 0;
}

body {
	background-color: #A66CFF;
	font-family: Libre Baskerville;
}

header {
	text-align: center;
	height: 55px;
	width: 100%;
	border-bottom: 13px solid #B1E1FF;
	background-color: rgb #AFB4FF;
}

header ul {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	list-style: none;
	margin: 85px;
	font-size: 15px;
}

body, html {
	height: 100%
}

.hero-image {
	background-image: url("../images/clouds-rainbow.webp");
	height: 30%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#hero-text h1 {
	position: absolute;
	top: 80%;
	left: 16%;
	transform: translate(-50%, -50%);
	color: #32204c;
	font-size: 46px;

}

#hero-text h2 {
	color: #32204c;
	position: absolute;
	top: 80%;
	left: 61%;
	font-style: italic;
	font-size: 14px;
}

#portfolio-image{
	display: flex;
	/* filter: grayscale(75%); */
	border-radius: 50px;
	height: 140px;
	width: 150px
}

.flex-box{
	justify-content: space-between;
}

#about-me{
	text-align: left;
}

.work-1{
width: 100%;
height: 200px;	
border: solid 1px #32204c;
}

.work-2, .work-3, .work-4, .work-5{
	width: 100%;
	height: 100px;
	border: solid 1px #32204c;
}

.box1{
	/* position: relative;
	display: inline-block;
	width: 100%; */
	text-align: center;
	color:#32204c;
}

.refactor{
	position: absolute;
	bottom: 8px;
	left: 16px;
}


.contact-info{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	list-style: none;
}




@media screen and (max-width:992px){
}

@media screen and (max-width:768px){
}

@media screen and (max-width:576px){
}















  /* color pallet */
  /* A66CFF purple, 9C9EFE light blue, AFB4FF perriwinkle, B1E1FF light sky blue */